
<div class="row">
  <div class="col-md-4">
    <h4>city</h4>
<ul>
  @foreach(var city in @Model)
  {
    <li>@city._cityName </li>

  }
</ul>
  </div>
<div class="col-md-4">
  <h4>City Code</h4>
<ul>
  @foreach(var city in @Model)
  {
    
    <li>@city._countyCode </li>
  }
</ul>
</div>
<div class="col-md-4">
  <h4>City Population</h4>
<ul>
  @foreach(var city in @Model)
  {
    
    <li>@city._cityPopulation </li>
  }
</ul>
</div>

</div>
